* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 14px;
}

@font-face {
    font-family: "BebasNeue";
    src: url("fonts/bebasneue.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambook.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothamlight.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothammed.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham";
    src: url("fonts/gothambold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FuturaStd";
  src: url("fonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1.15fr 0.2fr 0.2fr
}

/* .wrapper div {
  border: 1px solid black;
} */

.albumsec {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

/* .albumsec div {
  border: 1px solid;
} */

.column {
  display: flex;
  align-items: center;
}

#columnL {
  position: relative;
}

#vinylsec {
  display: flex;
  justify-content: center;
  align-items: center;
}

#vinylcircle {
  display: flex;
  height: 600px;
  width: 600px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px black;
  justify-content: center;
  align-items: center;
}

#albumart {
  height: 50%;
  width: 50%;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#vinylhole {
  height: 10%;
  width: 10%;
  background-color: white;
  border-radius: 50%;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

#backbutton {
  background-image: url("icons/ios-arrow-dropleft.svg");
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  cursor: pointer;
}

#backbutton:hover {
  background-image: url("icons/ios-arrow-dropleft-circle.svg");
}

#nextbutton {
  background-image: url("icons/ios-arrow-dropright.svg");
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#nextbutton:hover {
  background-image: url("icons/ios-arrow-dropright-circle.svg");
}

.songinfosec {
  text-align: center;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songinfotext {
  margin: 3.5px 0;
  font-size: 1.25em;
}

#songname {
  font-size: 2em;
  text-transform: uppercase;
}

.controlsec {
  display: flex;
  justify-content: center;
}

.iconcircle {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circleL {
  margin-right: 50px;
  cursor: pointer;
}

.iconcircle:hover {
  background-color: black;
}

#circleL:hover > #stopbutton {
  filter: invert(100%);
}

#circleC {
  cursor: pointer;
}

#circleC:hover > #playbutton {
  filter: invert(100%);
}

#circleR {
  margin-left: 50px;
  cursor: pointer;
}

#circleR:hover > #pausebutton {
  filter: invert(100%);
}

#stopbutton {
  height: 21px;
  width: 21px;
  background-color: black;
}

#playbutton {
  background-image: url("icons/md-play.svg");
  height: 35px;
  width: 35px;
  margin-left: 9px;
}

#pausebutton {
  background-image: url("icons/md-pause.svg");
  height: 30px;
  width: 30px;
}
